

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf');
}

body{
  margin: 0;
  padding: 0;
  background: #191919;
}

.box{
  width: 350px;
  padding: 40px;
  font-family: Poppins, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
}

.message{
  color: #2ecc71;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box h3{
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
}

.box input[type = "text"]{
  font-family: Poppins, sans-serif;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  font-size: 16px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "submit"]{
  font-family: Poppins, sans-serif;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #2ecc71;
}


.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.checkbox {
  margin-bottom: 1em;
}